.left-bar {
    background: #252A36;
    width: 263px;
    height: 100%;

    &__button {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px;
        width: 219px;
        height: 44px;
        margin: 0 20px 30px 20px;
        border-color: #ffffff00;
        background-color: rgba(255, 255, 255, 0);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 17px;
        /* identical to box height */
        color: #FFFFFF;

        &:hover {
            background: #A2A1FF;
            border-radius: 8px;
        }

        img {
            padding-right: 21px;
        }

        &.active {
            background: #A2A1FF;
            border-radius: 8px;
        }
    }
}

.logo {
    display: flex;
    width: 180px;
    height: 35px;
    padding: 36px 0 60px 22px;
    align-items: center;

    img {
        width: 35px;
        height: 35px;
    }

    &__text {
        padding-left: 12px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */


        color: #FFFFFF;
    }
}